@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  background-color: #daf2ed;
  font-family: "Open Sans", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: #daf2ed;
}
.heading {
  color: white;
  font-size: 44px;
  line-height: 48px;
  font-weight: 700;
}
.heading:hover {
  color: rgb(30, 28, 28);
  transition: 0.5s ease-in-out;
}
.questionAnswer {
  width: 40vw;
  border: 0.5px solid #a58a38;
  border-radius: 10px;
  padding: 5px 40px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 12px;
  background-color: white;
}
#questions {
  margin: 0;
  font-size: 28px;
  line-height: 32px;
}
.answer--option {
  /* margin-right: auto; */
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.answer--option input,
label {
  cursor: pointer;
}
.answer--option li {
  background-color: #abbfce;
  border: 0.5px solid white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
/* .answer--option li input:focus {
  background-color: rgb(134, 176, 71);
  cursor: pointer;
}
.answer--option li label:hover {
  background-color: rgb(134, 176, 71);
  cursor: pointer;
} */
.answer--option li:hover {
  background-color: rgb(134, 176, 71);
}
.btn {
  background-color: wheat;
  padding: 10px;
  color: black;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  /* width: fit-content; */
  /* background-color: green; */
  margin: auto;
  cursor: pointer;
}
.btn:hover {
  /* transition: 0.5s ease-in-out; */
  background-color: rgb(231, 190, 137);
}
#showScore {
  background-color: rgb(156, 183, 178);
  display: none;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 5px 70px;
  border-radius: 5px;
}
#showScore h3 {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: green;
}
#showScore h4 {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: red;
}
